@use 'utils/variables';

.mat-mdc-card-header {
  padding: 16px !important;
  width: 100%;
}

.mat-mdc-card-header-text {
  width: 100%;
}

.mat-mdc-card {
  background-color: variables.$yellow-pastel-light-2 !important;
  border: variables.$area-border !important;
  box-shadow: none !important;
}

.mat-mdc-card.inactive {
  background-color: variables.$gray-light !important;
}
