<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <img src="../../../../assets/images/worried.png" width="150px">

  <div fxLayout="column" fxLayoutGap="64px" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <h1 translate>system.pages.not-found.title</h1>
      <span translate>system.pages.not-found.sub-title</span>
    </div>

    <div fxLayoutAlign="center" fxLayoutGap="16px">
      <button mat-raised-button color="primary" [routerLink]="['/', 'home']">
        <span translate>system.buttons.home</span>
      </button>
      <button *ngIf="isLoggedIn$ | async" mat-raised-button color="primary" [routerLink]="['/', 'secured', 'dashboard']">
        <span translate>system.buttons.dashboard</span>
      </button>
    </div>
  </div>
</div>
