@use 'utils/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: variables.$primary;
  border-bottom: variables.$area-border;
  min-height: 70px;
  width: 100%;
}

img {
  margin-top: -16px;
  margin-left: 6px;
}

.menu {
  position: absolute;
  z-index: 9999;
  top: 70px;
  left: 0;
  height: calc(100% - 70px);
}
