$grid-breakpoints: (
  xs: 0,
  lt-sm: 499px,
  sm: 500px,
  lt-md: 959px,
  md: 960px,
  gt-md: 961px,
  lt-lg: 1279px,
  lg: 1280px,
  lt-xl: 1919px,
  xl: 1920px,
);

$black: #000000;
$gray: #7F7F7F;
$gray-light: #CCCCCC;

$green: #1BFD44;

$purple: #411F44;
$purple-light: #B988BB;
$purple-light-2: #F0D3F3;

$blue: #8D61F9;
$blue-light: #C8BBF7;
$blue-light-2: #F0E7FE;

$primary: #B8E945;
$primary-light: #CDE972;
$primary-light-2: #E6F99E;

$yellow-pastel: #F0FEDE;
$yellow-pastel-light: #F7FFEE;
$yellow-pastel-light-2: #FCFFF8;

$white: #FFFFFF;

$area-border: 1px solid $gray-light;
