<fb-base-page [heading]="'settings.pages.personal.title' | translate">
  <ng-template #content>
    <h3 translate>settings.pages.personal.language</h3>

    <div fxLayout="column" fxLayoutGap="16px">
      <mat-error *ngIf="(language$ | async) === null">
        <span translate>settings.pages.personal.language-not-set</span>
      </mat-error>

      <div class="personal__language" fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="personal__language__flag personal__language__flag--usa" [ngClass]="{ 'personal__language__flag--selected': (language$ | async) === eLanguage.EN }" (click)="onSelected(eLanguage.EN)">
          </div>
          <div translate>
            settings.pages.personal.en
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="personal__language__flag personal__language__flag--czech" [ngClass]="{ 'personal__language__flag--selected': (language$ | async) === eLanguage.CS }" (click)="onSelected(eLanguage.CS)">
          </div>
          <div translate>
            settings.pages.personal.cz
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="personal__language__flag personal__language__flag--slovak" [ngClass]="{ 'personal__language__flag--selected': (language$ | async) === eLanguage.SK }" (click)="onSelected(eLanguage.SK)">
          </div>
          <div translate>
            settings.pages.personal.sk
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</fb-base-page>
