.personal {
  &__language {
    gap: 16px;

    &__flag {
      width: 96px;
      height: 96px;
      cursor: pointer;
      filter: grayscale(1);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &--usa {
        background-image: url('../../../../../../assets/images/usa.png');
      }

      &--czech {
        background-image: url('../../../../../../assets/images/czech.png');
      }

      &--slovak {
        background-image: url('../../../../../../assets/images/slovak.png');
      }

      &--selected {
        filter: none;
      }
    }
  }
}
