<app-loading *ngIf="isLoading$ | async; else notLoading"></app-loading>

<ng-template #notLoading>
  <h2 mat-dialog-title translate>
    secured.projects.dialogs.config.title
  </h2>

  <mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label translate>secured.projects.fields.daily-amount-limit.label</mat-label>
        <input matInput type="number" min="0" step="1" formControlName="dailyAmountLimit">
        <mat-hint translate>secured.projects.fields.daily-amount-limit.note</mat-hint>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button mat-flat-button [mat-dialog-close]="">
      <span translate>secured.core.buttons.cancel</span>
    </button>
    <button mat-flat-button color="primary" [disabled]="form.invalid || !form.dirty" (click)="onSubmit(form.value)">
      <span translate>secured.core.buttons.save</span>
    </button>
  </mat-dialog-actions>

</ng-template>
