<app-base-page [heading]="'secured.projects.pages.api-keys.title' | translate" [isLoading]="isLoading$ | async">

  <ng-template #content>
    <div class="api-keys" fxLayout="row wrap">
      <mat-card class="api-keys__new" (click)="onNew()">
        <mat-card-content class="api-keys__new__content">
          <span fxLayoutAlign="center center" fxLayoutGap="4px">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
            <span translate>secured.projects.pages.api-keys.new</span>
          </span>
        </mat-card-content>
      </mat-card>

      <mat-card *ngFor="let apiKey of (data$ | async)" fxFlex="400px">
        <mat-card-header>
          <mat-card-title>
            {{ apiKey.name }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="billing__card__content" fxLayout="column" fxLayoutGap="16px">
          <div fxLayoutAlign="start start" fxLayoutGap="8px">
            <mat-icon>payments</mat-icon>
            <div fxLayout="column">
              <span>{{ apiKey.billingProfile.companyName || (apiKey.billingProfile.firstName + ' ' + apiKey.billingProfile.lastName) }}</span>
              <span>{{ apiKey.billingProfile.address | appFormatAddress }}</span>
              <span>{{ apiKey.billingProfile.currency }}</span>
            </div>
          </div>

          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon>key</mat-icon>
            <span>{{ apiKey.apiKey }}</span>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end end">
          <button mat-icon-button (click)="onCopyToClipboard(apiKey.apiKey)">
            <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon fontSet="material-icons-outlined">analytics</mat-icon>
          </button>
          <button mat-icon-button (click)="onConfig(apiKey.id)">
            <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
          </button>
          <button color="warn" mat-icon-button (click)="onDelete(apiKey.id)">
            <mat-icon fontSet="material-icons-outlined" >delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>

</app-base-page>
