<div  class="menu"
      fxLayout="column"
      fxLayoutAlign="space-between"
      [ngClass]="{ 'menu--colapsed': (expanded$ | async) === false }">
  <div>
    <nav class="menu__nav">
      <ul class="menu__nav__list">
        <li>
          <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'dashboard']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon fontSet="material-icons-outlined">dashboard</mat-icon>
            <span translate>secured.core.menu.dashboard</span>
          </a>
        </li>
        <li>
          <span class="menu__nav__list__item" fxLayoutAlign="space-between center" (click)="expandedIndex$.next(expandedIndex$.value === 1 ? 0 : 1)">
            <div fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon fontSet="material-icons-outlined">public</mat-icon>
              <span translate>secured.core.menu.projects</span>
            </div>
            <div class="menu__nav__list__expander" [ngClass]="{ 'menu__nav__list__expander--expanded': (expandedIndex$ | async) === 1 }">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </span>
          <div class="menu__nav__list__expanded_area" fxLayout="column" [ngClass]="{ 'menu__nav__list__expanded_area--expanded-2': (expandedIndex$ | async) === 1 }">
            <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'projects', 'web-pages']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
              <span translate>secured.core.menu.web-pages</span>
            </a>
            <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'projects', 'api-keys']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
              <span translate>secured.core.menu.api-keys</span>
            </a>
          </div>
        </li>
        <li>
          <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'statistics']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon fontSet="material-icons-outlined">analytics</mat-icon>
            <span translate>secured.core.menu.statistics</span>
          </a>
        </li>
        <li>
          <span class="menu__nav__list__item" fxLayoutAlign="space-between center" (click)="expandedIndex$.next(expandedIndex$.value === 3 ? 0 : 3)">
            <div fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
              <span translate>secured.core.menu.settings</span>
            </div>
            <div class="menu__nav__list__expander" [ngClass]="{ 'menu__nav__list__expander--expanded': (expandedIndex$ | async) === 3 }">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </span>
          <div class="menu__nav__list__expanded_area" fxLayout="column" [ngClass]="{ 'menu__nav__list__expanded_area--expanded-3': (expandedIndex$ | async) === 3 }">
            <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'settings', 'personal']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
              <span translate>secured.core.menu.personal</span>
            </a>
            <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'settings', 'billing']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
              <span translate>secured.core.menu.billing-profiles</span>
            </a>
            <a class="menu__nav__list__item" [routerLink]="['/', 'secured', 'settings', 'password']" routerLinkActive="menu__nav__list__item--active" fxLayoutAlign="start center" fxLayoutGap="8px">
              <span translate>secured.core.menu.security</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <div fxLayoutAlign="end">
      <button mat-icon-button (click)="expanded$.next(!expanded$.value)">
        <mat-icon>{{ (expanded$ | async) ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </div>
    <div class="menu__footer">
      Version 0.0.1
    </div>
  </div>
</div>
