<app-base-page [heading]="'secured.projects.pages.web-pages.title' | translate" [isLoading]="isLoading$ | async">

  <ng-template #content>
    <div class="web-pages" fxLayout="row wrap">
      <mat-card class="web-pages__new" (click)="onNew()">
        <mat-card-content class="web-pages__new__content">
          <span fxLayoutAlign="center center" fxLayoutGap="4px">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
            <span translate>secured.projects.pages.web-pages.new</span>
          </span>
        </mat-card-content>
      </mat-card>

      <mat-card *ngFor="let webPage of (data$ | async)" class="web-pages__card" [ngClass]="{ 'inactive': !webPage.enabled }">
        <mat-card-header>
          <mat-card-title>
            {{ webPage.name }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="web-pages__card__content" fxLayout="column" fxLayoutGap="16px">
          <div fxLayoutAlign="start start" fxLayoutGap="8px">
            <mat-icon>payments</mat-icon>
            <div fxLayout="column">
              <span>{{ webPage.billingProfile.companyName || (webPage.billingProfile.firstName + ' ' + webPage.billingProfile.lastName) }}</span>
              <span>{{ webPage.billingProfile.address | appFormatAddress }}</span>
              <span>{{ webPage.billingProfile.country }} ({{ webPage.billingProfile.currency }})</span>
            </div>
          </div>

          <div fxLayoutAlign="start start" fxLayoutGap="8px">
            <mat-icon>euro</mat-icon>
            <div fxLayout="column">
              <span>{{ 'secured.enums.pricing-tier.' + webPage.pricingTier.code | translate }}</span>
              <div>
                <span>{{ 'core.pricing-tier.annual' | translate }}: {{ webPage.pricingTier.annualPrice }}€</span> | <span>{{ 'core.pricing-tier.monthly' | translate }}: {{ webPage.pricingTier.monthlyPrice }}€</span>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end end">
          <button mat-icon-button disabled>
            <mat-icon fontSet="material-icons-outlined">analytics</mat-icon>
          </button>
          <button mat-icon-button disabled>
            <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
          </button>
          <button mat-icon-button (click)="navigate(webPage.originSite)">
            <mat-icon fontSet="material-icons-outlined">arrow_outward</mat-icon>
          </button>
          <button color="warn" mat-icon-button (click)="onDelete(webPage.id)">
            <mat-icon fontSet="material-icons-outlined" >delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</app-base-page>
