@use 'utils/variables';
@use "sass:map";

:host {
  display: block;
  max-width: 380px;
  min-width: 380px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: map.get(variables.$grid-breakpoints, md)) {
    min-width: 100%;
  }
}

.service {
  &__card {
    height: 100%;

    &__content {
      height: 100%;
    }

    &--inactive {
      background-color: variables.$disabled !important;
    }
  }
}
