<app-base-page [heading]="'secured.settings.pages.billing.title' | translate" [isLoading]="isLoading$ | async">

  <ng-template #content>
    <div class="billing" fxLayout="row wrap">
      <mat-card class="billing__new" (click)="onNew()">
        <mat-card-content class="billing__new__content">
          <span fxLayoutAlign="center center" fxLayoutGap="4px">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
            <span translate>secured.settings.pages.billing.new</span>
          </span>
        </mat-card-content>
      </mat-card>

      <mat-card class="billing__card" *ngFor="let billingProfile of (data$ | async)">
        <mat-card-header>
          <mat-card-title>
            <div fxFlex fxLayoutAlign="space-between" style="width: 100%">
              <span>
                <ng-container *ngIf="billingProfile.firstName; else companyHeader">
                  {{ billingProfile.firstName }} {{ billingProfile.lastName }}
                </ng-container>
                <ng-template #companyHeader>
                  {{ billingProfile.companyName || 'My company name' }}
                </ng-template>
              </span>
              <mat-chip disableRipple>
                {{ billingProfile.currency }}
              </mat-chip>
            </div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="billing__card__content">
          <div fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="8px">
              <span *ngIf="billingProfile.cin || billingProfile.vatId"><span translate>secured.settings.pages.billing.cin</span>: {{ billingProfile.cin }} | <span translate>secured.settings.pages.billing.vat</span>: {{ billingProfile.vatId }}</span>

              <span>{{ billingProfile.address.street }} {{ billingProfile.address.registerNumber }} / {{ billingProfile.address.referenceNumber }}</span>
              <span>{{ billingProfile.address.zipCode }} {{ billingProfile.address.city }}</span>
              <span>{{ billingProfile.country }}</span>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="end end">
          <button mat-icon-button (click)="onEdit(billingProfile)">
            <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
          </button>
          <button color="warn" mat-icon-button [disabled]="((data$ | async)?.length || 0) <= 1" (click)="onDelete(billingProfile.id)">
            <mat-icon fontSet="material-icons-outlined" >delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>

</app-base-page>
