$md-primary: (
  50 : #e8e4e9,
  100 : #c6bcc7,
  200 : #a08fa2,
  300 : #7a627c,
  400 : #5e4160,
  500 : #411f44,
  600 : #3b1b3e,
  700 : #321735,
  800 : #2a122d,
  900 : #1c0a1f,
  A100 : #ea5eff,
  A200 : #e32bff,
  A400 : #d600f7,
  A700 : #c000de,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-aokgray: (
  50: #f5f4f4,
  100: #e5e4e4,
  200: #d4d2d2,
  300: #c2c0c0,
  400: #b5b3b3,
  500: #a8a5a5,
  600: #a09d9d,
  700: #979393,
  800: #8d8a8a,
  900: #7d7979,
  A100: #fff,
  A200: #fbd5d5,
  A400: #ff9e9e,
  A700: #ff8585,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$md-aokwarn: (
  50 : #ffe2e7,
  100 : #ffb7c3,
  200 : #ff879b,
  300 : #ff5672,
  400 : #ff3254,
  500 : #ff0e36,
  600 : #ff0c30,
  700 : #ff0a29,
  800 : #ff0822,
  900 : #ff0416,
  A100 : #ffffff,
  A200 : #fff2f3,
  A400 : #ffbfc2,
  A700 : #ffa6aa,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
