<fb-base-page>
  <ng-template #content>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <img src="../../../../assets/images/worried.png" width="150px">

      <div fxLayout="column" fxLayoutGap="64px" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px" style="text-align: center">
          <h1 translate>system.pages.error.title</h1>
          <span translate>system.pages.error.sub-title</span>
        </div>

        <div fxLayoutAlign="center" fxLayoutGap="16px" fxLayout.lt-sm="column">
          <button mat-raised-button color="primary" [routerLink]="['/', 'home']">
            <span translate>system.buttons.home</span>
          </button>
          <button *ngIf="isLoggedIn$ | async" mat-raised-button color="primary" [routerLink]="['/']">
            <span translate>system.buttons.admin</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</fb-base-page>
