<h2 mat-dialog-title translate>
  projects.dialogs.web-page-validators.title
</h2>

<mat-dialog-content>
  <div fxLayout="column" class="web-page-validators__content" fxLayoutGap="16px">
    <div *ngFor="let validator of validators; let last = last" fxLayout="column">
      <h3>{{ validator.name }}</h3>

      <table mat-table [dataSource]="validator.mappings" class="mat-elevation-z0">
        <ng-container matColumnDef="element">
          <th mat-header-cell *matHeaderCellDef fxFlex fxLayoutAlign="start center" translate>
            projects.dialogs.web-page-validators.element
          </th>
          <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center">
            {{ row.element }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mappedAs">
          <th mat-header-cell *matHeaderCellDef fxFlex fxLayoutAlign="start center" translate>
            projects.dialogs.web-page-validators.mapped-as
          </th>
          <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center">
            {{ row.mappedAs }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['element', 'mappedAs']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['element', 'mappedAs'];"></tr>
      </table>

      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="">
    <span translate>core.buttons.close</span>
  </button>
</mat-dialog-actions>
